---
layout: default
---

<div class="tech-tree">
  <div class="tech-tree__level tech-tree__level--1">
    {% include test-module.html name="Batch Pick to LPN" url="batch-pick" type="a" class="push_7-16 unit-1" progress="2" %}
  </div>
  <div class="tech-tree__level tech-tree__level--2">
    {% include test-module.html name="New Pick Cart" type="b" class="push_1-16 unit-2" %}
    {% include test-module.html name="Pick Scanning Hardware" type="b" class="push_2-16 unit-3" progress="1" %}
    {% include test-module.html name="ACC Picking Digitization" type="b" class="push_2-16 unit-4" %}
    {% include test-module.html name="Pick Pathing" type="b" class="push_2-16 unit-5" %}
  </div>
  <div class="tech-tree__level tech-tree__level--3">
    {% include test-module.html name="Put to Light" type="c" class="unit-6" %}
    {% include test-module.html name="Put to Scan" type="c" class="unit-7" %}
    {% include test-module.html name="Post-Pick Sortation" type="d" class="push_3-16 unit-8" %}
  </div>
  <div class="tech-tree__level tech-tree__level--4">
    {% include test-module.html name="Batch Pick to LPN v2" type="c" class="push_1-16 unit-9" %}
    {% include test-module.html name="Put Wall" type="d" class="push_2-16 unit-10" %}
    {% include test-module.html name="? Sort Solution" type="d" class="unit-11" %}
    {% include test-module.html name="Put to Tote/Line" type="d" class="unit-12" %}
    {% include test-module.html name="Pick Pathing v2" type="b" class="push_2-16 unit-13" %}
  </div>
  <div class="tech-tree__level tech-tree__level--5">
    {% include test-module.html name="Batch Pick with Sortation" type="d" class="push_7-16 unit-14" %}
  </div>
</div>
