{% assign id = site.data.outbound.picking[include.id] %}

<article class="tech-tree-module bg--type-{{ id.type }} {{ include.class }}" data-type="{{ id.type }}">
  <div class="tech-tree-module__content">
    <section class="tech-tree-module__identifier">
      {{ id.name }}
    </section>
    <footer>
      <aside class="tech-tree-module__lock-status">
        <span class='fa fa-{% if id.progress %}tasks{% else %}lock{% endif %}'></span>
      </aside>
      <progress class="tech-tree-module__progress" max="5" value="{{ id.progress }}"></progress>
    </footer>
  </div>
  <aside class="tech-tree-module__overlay">
    <header class="tech-tree-module__overlay__header bg--type-{{ id.type }}">
      <h1>{{ id.name }}</h1>
    </header>
    <h2>The Problem We’re Solving</h2>
    <p>{{ id.description }}</p>
  </aside>
</article>
