$tech-tree-module-vertical-space-between: $grid_gutter;
$tech-tree-module-border-width: 8px;

$color-a: #2E88C4;
$color-b: #8E60D7;
$color-c: #E85770;
$color-d: #5BC672;

$color-a--faded: rgba($color-a, 0.4);
$color-b--faded: rgba($color-b, 0.4);
$color-c--faded: rgba($color-c, 0.4);
$color-d--faded: rgba($color-d, 0.4);

$color-ghost-black-base:  rgba(0,0,0,0.5);
$color-ghost-black-light: rgba(0,0,0,0.3);
$color-text-light:     #F7F7F7;
$color-link-highlight: #00BCFF;

$transition-speed-fast:    0.2s;
$transition-speed-medium:  0.4s;
$transition-speed-slow:    0.8s;
$transition-speed-default: $transition-speed-fast;

$bg_color: #2D3E50;

body {
  background-color: $bg_color;
  font-family: 'Open Sans', sans-serif;
}

.tech-tree {
  margin-top: 20px;

  &__level {
    @extend %grid !optional;
  }
}

connection {
  border: 8px solid;
  color: $color-ghost-black-base;
  border-radius: 40px;
  pointer-events: none;
  opacity: 0.3;
  transition: all $transition-speed-medium ease-out;

  &.connection--dark { opacity: 1.0; }
  &.connection--a { color: $color-a; }
  &.connection--b { color: $color-b; }
  &.connection--c { color: $color-c; }
  &.connection--d { color: $color-d; }
}

.tech-tree-module {
  @extend %g, %_2-16 !optional;
  height: 100px;
  margin-top: $tech-tree-module-vertical-space-between;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 3px 8px $color-ghost-black-light;
  transition: box-shadow $transition-speed-default ease-out;
  position: relative;

  &__content{
    color: $color-text-light;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0.25rem;

    &:hover { cursor: pointer; }
  }

  &:hover {
    z-index: 2;
    box-shadow: 0 0 0px 5px $color-link-highlight;
    opacity: 1.0;
  }

  &__header{
    height: 26px;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__identifier {
    font-size: 0.8rem;
    text-align: center;
  }
  &__progress{
    height: 0.5rem;
    -webkit-appearance: none;
    border: none;
    margin-left: 0.25rem;

    &::-webkit-progress-bar {
    	background: $color-ghost-black-light;
    	border-radius: 2px;
    	padding: 1px;
    }

    &::-webkit-progress-value {
    	background: $color-link-highlight;
      border-radius: 2px;
    }
  }

  &__overlay {
    position: fixed;
    @extend %g, %_8-16 !optional;
    display: none;
    top:    10px;
    bottom: 10px;
    margin-left: $grid_width * 2 - ($grid_gutter / 2);
    background-color: $color-text-light;
    border-radius: 6px;

    &--active {
      display: block;
      z-index: 2;
    }

    h1 {
      margin: 0;
      padding: 0.5rem;
    }
    h2 {
      margin: 0;
    }
  }
}

.bg--type-blue,
.bg--type-a { background-color: $color-a; }
.bg--type-purple,
.bg--type-b { background-color: $color-b; }
.bg--type-red,
.bg--type-c { background-color: $color-c; }
.bg--type-green,
.bg--type-d { background-color: $color-d; }

.cover-all {
  background-color: $color-ghost-black-base;
  position: absolute;
  left:   0;
  right:  0;
  top:    0;
  bottom: 0;
  z-index: 1;
  display: none;
}
