$tech-tree-module-vertical-space-between: 60px;
$tech-tree-module-border-width: 8px;


.tech-tree {
  &__level {
    @extend %grid !optional;
  }
}

.tech-tree-module {
  @extend %g, %_2-16 !optional;
  height: $_2-16;
  margin-top: 60px;
  position: relative;
  background-color: white;

  &:first-of-type::before {
    border-top: none;
    border-top-right-radius: 0;
    background-color: white;
    z-index: -1;
  }

  &::before {
    border-top: $tech-tree-module-border-width solid red;
    content: "";
    position: absolute;
    width: calc(100% + #{$tech-tree-module-vertical-space-between / 2} - #{$tech-tree-module-border-width / 2});
    height:($tech-tree-module-vertical-space-between / 2) + ($tech-tree-module-border-width / 2);
    top:  -($tech-tree-module-vertical-space-between / 2) - ($tech-tree-module-border-width / 2);
    left: calc(-50% - #{$tech-tree-module-vertical-space-between / 2});
    background: transparent;
    display: block;
    border-right: $tech-tree-module-border-width solid red;
    border-top-right-radius: $tech-tree-module-border-width*2;
    z-index: -2;
  }

  &.push_1-16::before  {
    width: calc(100% + #{$tech-tree-module-vertical-space-between / 2} - #{$tech-tree-module-border-width / 2} + #{$_1-16} + #{$grid_gutter});
    left: calc(-50% - #{$tech-tree-module-vertical-space-between / 2} - #{$_1-16} - #{$grid_gutter});
  }
  &.push_2-16::before  {
    width: calc(100% + #{$tech-tree-module-vertical-space-between / 2} - #{$tech-tree-module-border-width / 2} + #{$_2-16} + #{$grid_gutter});
    left: calc(-50% - #{$tech-tree-module-vertical-space-between / 2} - #{$_2-16} - #{$grid_gutter});
  }
  &.push_3-16::before  { width: $_3-16;  }
  &.push_4-16::before  { width: $_4-16;  }
  &.push_5-16::before  { width: $_5-16;  }
  &.push_6-16::before  { width: $_6-16;  }
  &.push_7-16::before  { width: $_7-16;  }
  &.push_8-16::before  { width: $_8-16;  }
  &.push_9-16::before  { width: $_9-16;  }
  &.push_10-16::before { width: $_10-16; }
  &.push_11-16::before { width: $_11-16; }
  &.push_12-16::before { width: $_12-16; }
  &.push_13-16::before { width: $_13-16; }
  &.push_14-16::before { width: $_14-16; }
  &.push_15-16::before { width: $_15-16; }
  &.push_16-16::before { width: $_16-16; }

  &__header{

  }
  &__identifier {

  }
  &__progress{
    &--1 { }
    &--2 { }
    &--3 { }
    &--4 { }
    &--5 { }
  }
}







/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/
