$max_width:    1024px;
$grid_columns: 16;
$grid_gutter:  30px;
$grid_width:   $max_width / $grid_columns;

@for $i from 1 through $grid_columns {
  %_#{$i}-#{$grid_columns},
  ._#{$i}-#{$grid_columns}{
    width: $grid_width * $i - $grid_gutter;
  }
  %push_#{$i}-#{$grid_columns},
  .push_#{$i}-#{$grid_columns}{
    margin-left: $grid_width * $i - $grid_gutter + $grid_gutter + ($grid_gutter / 2) !important;
  }
}

%grid,
.grid {
  margin: auto;
  width: $max_width + $grid_gutter;
  font-size: 0;
}

%grid--centered,
.grid--centered {
  text-align: center;
}

%g,
%grid-item,
.g {
  display: inline-block;
  font-size: 16px;
  margin-left:  $grid_gutter / 2;
  margin-right: $grid_gutter / 2;
  text-align: left;
}
